* {
    font-family: Roboto;
    font-weight: 400;
}

a {
    text-decoration: none;
}

/* HEADER */

.header {
    max-width: 1280px;
    margin: 64px auto 50px auto;

    font-family: Roboto;
    font-weight: 400;
}

.logo {
    display: inline-block;
    margin-bottom: 40px;

    font-size: 80px;
    color: #000000;
}

.logo span {
    display: inline-block;

    color: #4BCAFF;
}



.navigation-menu {
    display: flex;
    flex-direction: row;
    background-color: #35444F;

    align-items: center;
    justify-content: center;
}

.navigation-menu li {
    padding: 24px 38px 18px 38px;
    border: solid #FFF;
    border-width: 0 1px;
}

.navigation-menu li a {
    color: #FFF;
    font-size: 24px;
    line-height: normal;
}

/* HEADER END */

/* MAIN */

.main {
    display: flex;
    max-width: 1280px;
    margin: 0 auto;

    gap: 50px;
}

.sidebar {
    width: 350px;
}

.navigation-table {
    display: flex;
    flex-direction: column;
    width: 350px;

    border: 1px solid #000;

    box-sizing: border-box;
}

.navigation-table-item {
    padding: 26px 0 26px 44px;

    color: #495863;

    font-size: 27px;
    line-height: 27px;

    border: 1px;
}



.main-content {
    display: flex;
    flex-wrap: wrap;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 880px;
    height: 530px;

    box-sizing: border-box;

    margin-bottom: 38px;
    border: 1px solid black;
}

.main-text-container {
    display: flex;
    flex-direction: column;
    justify-content: end;

    margin-bottom: 54px;

    gap: 14px;
}

.main-text {
    width: 880px;
    color: #2C2C2C;
    font-size: 18px;
    line-height: 24px;
}

/* MAIN END */

/* FOOTER */

.footer {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    max-height: 70px;
    box-sizing: border-box;

    background-color: rgba(99, 105, 110, 0.48);

    padding: 20px 40px;
}

.footer-table {
    display: flex;
    gap: 30px;
}

.footer-table-item a {
    color: #0C1927;

    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
}

.item-special {
    color: #010101;

    font-family: Roboto;
    font-size: 24px;
    line-height: 24px;

    padding-left: 80px;
    text-align: right;
}

/* FOOTER END */

/* HOVERS */

.header-navigation-item:hover {
    background-color: #222F3A;
    cursor: pointer;
}

.navigation-table-item:hover {
    background-color: #DBDBDB;
    color: #0C1927;
    padding-left: 70px;
    cursor: pointer;
}

.footer-table-item a:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
    padding-bottom: 13px;
    cursor: pointer;
}

.item-special:hover {
    color: #010101;
    border-bottom: 0px none;
    padding-bottom: 0px;
    cursor: unset;
}

.image:hover {
    cursor: pointer;
    transition: transform 0.3s ease;
    transform: scale(1.2);
}

/* HOVERS END */